<form id="palindrome_tester" action="/check" method="post">
  <textarea name="phrase" id="phrase" cols="60" rows="10"></textarea>
  <br>
  <button class="form-submit" type="submit">Is it a Palindrome?</button>
</form>